.arrow-text {
	display: flex;
	align-items: center;
	justify-content: center;
	height: fit-content;
	width: fit-content;
	position: relative;
	clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%, 0% 0%);
}

.arrow-text:before {
	content: '';
	height: calc(100% - 2px);
	width: calc(100% - 3px);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 15% 50%, 0% 0%);
}

.arrow-text span {
	z-index: 2;
	position: relative;
}
